TIDAL_CLIENT_ID=
TIDAL_CLIENT_SECRET=
TIDAL_REDIRECT_URI=http://localhost:8080/callback
TIDAL_COUNTRY_CODE=BR
PLAYLIST_ID=
RADIO_STREAM_URL=
POLL_INTERVAL=30

SPOTIFY_CLIENT_ID=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8081/callback
SPOTIFY_COUNTRY_CODE=BR
